.card_perspective {
  perspective: 1500px;
}

.card {
  border: solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 275px;
  border-radius: 24px;
  padding: 12px;
  margin: 12px;
  cursor: pointer; 

  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
}

.card:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
}

.card .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}

.character_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black;
  width: 195px;
  border-radius: 24px;
  background: linear-gradient(321deg, rgba(160,41,218,1) 0%, rgba(26,61,147,1) 80%);
}

.character_quote {
  text-align: center;
  color: white;
  font-size: 12px;
  padding: 12px;
  margin-bottom: -4px;
  background-color: black;
  border-radius: 24px;
  max-width: 195px;
}

.character_image {
  height: 200px;
  object-fit: contain;
  transition: transform 0.2s;
}


.character_name {
  color: white;
  text-align: center;
  margin-top: -12px;
  background: black;
  padding: 0px 12px 0px 12px;
  border-radius: 8px;
}

.card_back {
  background-image: url("/card_back.png");
  background-size: cover;
  background-position: center;
}
