.navbar_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.futurama_icon {
  width: 120px;
  margin-top: 12px;
  margin-left: 24px;
  cursor: pointer;
  transition: 200ms ease;
}

.futurama_icon:hover {
  transform: scale(1.1)
}

.game_wins {
  margin-right: 24px;
  margin-top: 24px;
  width: 150px;
  background: #e5e5e5;
  border-radius: 10px;
  font-family: 'Nunito';
  padding: 5px 8px 5px 8px;
}
