.nav_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.futurama_icon {
  width: calc(4vw + 32px);
  margin-top: 12px;
  margin-left: 24px;
  cursor: pointer;
  transition: 200ms ease;
}

.futurama_icon:hover {
  transform: scale(1.1)
}

.game_wins {
  max-width: 150px;
  margin-top: 12px;
  background: #e5e5e5;
  border-radius: 10px;
  font-family: 'Nunito';
  font-size: calc(0.4vw + 8px);
  padding: 5px 8px 5px 8px;
}

.leaderboard_btn {
  font-family: 'Nunito';
  color: white;
  background: #140033;
  margin-top: 12px;
  margin-right: 12px;
  font-size: calc(0.4vw + 8px);
  font-weight: 600;
  cursor: pointer;
  padding: 8px;
  width: calc(3vw + 62px);
  min-width: 72px;
  border-radius: 5px;
  border: none;
}
