.modal_header {
  display: flex;
  justify-content: flex-end;
}

.modal_body {
  padding: 2px 16px;
} 

.modal_content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {bottom: -300px; height: 0%; opacity: 0}
  to {bottom: 0; height: 100%; opacity: 1}
}