.form_header {
  display: flex;
  justify-content: flex-end;
}

.form_body {
  padding: 2px 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.form_content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 33%;
  width: 100%;
  border-radius: 15px;
  background-color: #110727;
  border-top: solid 6px black;
  margin: auto;
  padding: 0;
  animation-name: animatebottom;
  animation-duration: 0.4s
}

.form_close__btn {
  position: absolute;
  right: 0;
  margin-top: 12px;
  margin-right: 12px;
  background: none;
  color: white;
  border: none;
  font-weight: 900;
}

.form_name_input {
  border-radius: 5px;
  padding: 8px;
  background-color: white;
  border: none;
}

.form_name_input:focus {
  background-color: rgb(222, 202, 248);
  outline: none;
}

.form_submit_btn {
  padding: 8px;
  margin-left: 12px;
  font-weight: 700;
  background-color: #380438;
  border: solid 1px purple;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.form_submit_btn:hover {
  scale: 1.1;
  background-color: #500650;
}

@keyframes animatebottom {
  from { opacity: 0 }
  to { opacity: 1 }
}