.scoreboard {
  width: 100%;
  display: flex;
  justify-content: center;
}

.scoreboard_content {
  width: 800px;
  padding: 48px;
  background: rgba(10, 2, 26, 0.75);
}

.scoreboard_title {
  text-align: center;
  margin-top: 0;
  width: 100%;
  color: white;
}

.scores_container {
  width: 100%;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  font-weight: 600;
}

.top_ten > *, .bottom_ten > * {
}

.score {
  display: flex;
  gap: 24px;
}

.number {
  font-size: 24px;
  width: 18px;
}

.name {
  text-transform: uppercase;
  font-size: 24px;
  width: 80px;
  overflow: hidden;
}

.time {
  font-size: 24px;
}