.cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cards {
  display: grid;
}

.card_flip_container {
  transition: transform 200ms ease-in-out;
}

.card_flip_container.mixing {
  transform: rotateY(180deg);
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 480px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} 