.game_wins {
  margin-right: 24px;
  display: flex;
  align-self: flex-end;
  width: 150px;
  background: #e5e5e5;
  border-radius: 10px;
  font-family: 'Nunito';
  padding: 5px 8px 5px 8px;
}

.wins_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cards {
  display: grid;
}

.card_flip_container {
  transition: transform 200ms ease-in-out;
}

.card_flip_container.mixing {
  transform: rotateY(180deg);
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 480px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} 