.background_video {
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  padding: none;
  position: fixed;
}

.main_page {
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Futurama Title Font';
  text-align: center;
  color: rgb(123, 39, 179);
}

.title_description {
  font-family: 'Futurama Alien Alphabet One';
  text-align: center;
  color: white;
}
