@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap');

:root {
  font-family: 'Nunito', 'Space Grotesk', Inter, system-ui, Avenir;
  padding: none;
  line-height: 1.5;
  font-weight: 400;
  background: rgb(253, 235, 235);
}

body {
  height: 100%;
}

p {
  margin: 0;
  font-weight: 600;
  font-family: 'Space Grotesk';
}